/************ MAIN SECTION ***********/


body {
    background-color: #27104E;
}

#main {
    margin: 40px;
    margin-top: 20px;
    height: 900px;
    border: 1px solid #75E8E7;
    border-radius: 30px;
    background-color: #64379f;
}

/************ SITE TITLE/HEADER SECTION ***********/
#title {
    margin-left: 20px;
    color: #75E8E7;
    text-align: center;
}

#header {
    background-image: url('../assets/banner.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 3px #75E8E7;
    border-radius: 30px;
    color: #75E8E7;
    margin: 20px;
    height: 400px;
}

#logo {
    width: 75vw;
    margin: -50px;
}

#nav-list {
    width: 90vw ;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#logoutBtn {
    background-image: linear-gradient(231deg,#e982df,#2099ff);
}

/************ TABLE SECTION ***********/

#itemList {
    display: flex;
    border: solid 1px #75E8E7;
    vertical-align: middle;
  }

  tbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  tr {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
  }
  
  #item {
    align-items: center;
    display: flex;
    

  }
  
  #checkbox1 {
    padding-left: 22px;
  }
  
  #checkbox2 {
    margin-left: 5vw;
  }

  h2 {
    font-size: 16px;
    color: #75E8E7;
  }